body{
    min-height: 96vh;
    background-image: url("imagens/espaco.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}