@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #f1d8c9, #f2c3a7);
    background-attachment: fixed;
}

main{
    background-color: white;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.096);
}

/*ordem da sombra direita, pra baixo e quanto vai espalhar */

h1{
    color: #f39209;
    text-align: center;
    text-shadow:  1px 1px 1px rgba(0, 0, 0, 0.041);
}

h2{
    color: #123189;
}

p{
    text-align: justify;
}